.button-demos {
  font-family: 'Cinzel',
  serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.demo {
  color: black;
  font-size: 14pt;
  position: relative;
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}


 

#button1 {
  width: 150px;
  height: 50px;
  font-size: 20px;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  transition: all .2s;
  &:hover {
    box-shadow: none;
    transform: scale(0.96);
  }
}

.button2 {
  width: 150px;
  height: 50px;
  font-size: 20px;
  border: 1px solid #333;
  background: transparent;
  position: relative;
  &:hover {
    &:before {
      width: 0;
    }
    &:after {
      height: 0;
    }
  }
  .button-text {
    position: relative;
    z-index: 2;
  }
   &:before, &:after {
     content: '';
     position: absolute;
     display: block;
     background: #fff;
     transition: all .4s;
     z-index: 1;
     box-sizing: inherit;
   }
   &:before {
     width: calc(100% - 1em);
     height: calc(100% + 2px);
     top: -1px;
     left: 50%;
     transform: translateX(-50%);
   }
    &:after {
     height: calc(100% - 1em);
     width: calc(100% + 2px);
     left: -1px;
     top: 50%;
     transform: translateY(-50%);
   }
}

#button3 {
  width: 150px;
  height: 50px;
  font-size: 20px;
  border: 1px solid black;
  position: relative;
  transition: all .2s;
  &:after {
    content: "\2192";
    position: absolute;
    opacity: 0;
    right: -5px;
    transition: 0.4s;
  }
  &:hover:after {
    opacity: 1;
    right: 32px;
    top: 30%;
  }
  &:hover {
    text-indent: -20px;
  }
}

#button4 {
  width: 150px;
  height: 50px;
  font-size: 20px;
  border: 1px solid black;
  position: relative;
  transition: top ease 0.5s;
  top: 0;
  &:hover {
    top: -10px;
  }
}
