.demo-images {
  color: black;
  font-size: 14pt;
  position: relative;
  max-height: 700px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 100px;
}


@include keyframes(resize) {

  0% {
    width: 30%;
  }

  100% {
    width: 50%;
  }
}

@include keyframes(resizeBack) {

  0% {
    width: 50%;
  }

  100% {
    width: 30%;
  }
}


#container1 {
  height: 50%;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  &:hover {
    cursor: zoom-in;
  }
}

@include keyframes(zoomIn) {

  0% {
    transform: scale(1,1);
  }

  50% {
    transform: scale(1.2,1.2);
  }

  100% {
    transform: scale(1,1);
  }
}

#container1:hover #image1-span {
  height: 50%;
  transition: ease-in-out 1s;
}

// #container2:hover #image2-span {
//   @include animation('zoomIn 4s ease-in-out 2s infinite normal both')
// }

#container2:hover #image2-span {
  height: 50%;
  transition: ease-in-out 1s;
}

#container3:hover #image3-span {
  height: 50%;
  transition: ease-in-out 1s;
}



#container2 {
  height: 50%;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  &:hover {
    cursor: zoom-in;
  }
}

#container3 {
  height: 50%;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  transition: all 1s;
  &:hover {
    transition: all 1s;
    cursor: zoom-in;
  }
}

#plant2-img {
  min-height: 100%;
  min-width: 100%;
}

#subway-img {
  min-height: 100%;
  min-width: 100%;
}

#arch-img {
  min-height: 100%;
  min-width: 100%;
}

#image1-span {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 10%;
  width: 100%;
  opacity: .70;
  background-color: white;
  transition: all ease .3s;
  // &:hover {
  //   height: 50%;
  // }
}

#image2-span {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 10%;
  width: 100%;
  opacity: .70;
  background-color: white;
  transition: all ease .3s;
}

#image3-span {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 10%;
  width: 100%;
  opacity: .70;
  background-color: white;
  transition: all ease .3s;
}

// #image3-container {
//   height: 350px;
//   width: 250px;
//   margin-left: 30px;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
//   0 6px 20px 0 rgba(0, 0, 0, 0.19);
// }

#x-button {
  visibility: hidden;
}

#x-button-show {
  position: absolute;
  text-align: center;
  top: 90px;
  right: 15px;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 50px;
  border: 2px solid black;
  transition: background 0.5s;
  &:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
}
