@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}


@include keyframes(type) {

  0% {
    width: 0px;
  }

  30% {
    width: 145px;
  }

  100% {
    width: 0px;
  }
}

@include keyframes(blink) {
  0% {
    border-right-color: black;
  }

  100% {
    border-right-color: transparent;
  }
}

.demo {
  font-weight: normal;
  font-size: 20pt;
}

.text-container {
  width: 150px;
}

#hello-world {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

#hello-world:after {
  content: '';
  border-right: 2px solid black;
  right: 1px;
  @include animation('blink 800ms steps(15) infinite');
}


@include keyframes('highlight') {
  0% {
    width: 115px;
    height: 4px;
    background-color: skyblue;
  }

  30%, 100% {
    width: 115px;
    height: 32px;
    background-color: skyblue;
  }
}


@include keyframes('highlight-away') {
  0% {
    width: 115px;
    height: 32px;
    background-color: skyblue;
  }

  
  100% {
    width: 115px;
    height: 4px;
    background-color: skyblue;
  }
}

.demo-text {
  color: black;
  font-size: 14pt;
  position: relative;
  height: 50px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 20pt;
}

#highlight {
  width: 115px;
  height: 4px;
  background-color: skyblue;
  transition: all ease .3s;
  animation-timing-function: ease-in-out;
  animation-delay: .2s;
  animation: none;
}


#highlight-hover {
  transition: all ease .3s;
  @include animation('highlight 1.5s');
  animation-timing-function: ease-in-out;
  animation-delay: .2s;
}

#highlight-text {
  font-size: 20pt;
  transform: none;
}

@include keyframes(fadeIn) {
  0% {
    width: 0;
    opacity: 0;
  }

  30% {
     opacity: 1;
     width: 100px;
  }
  

  100% {
    width: 0;
    opacity: 0;
  }
}

#fade-demo {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  transition: all ease .3s;
  @include animation('stretch 3s ease-in-out 2s infinite normal both');
}

@include keyframes(bigger) {
  0% {
    transform: scale(.6);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(.6);
  }
}

#text-fourth-demo {
   white-space: nowrap;
   overflow: hidden;
   display: inline-block;
   transition: all ease .3s;
   @include animation('bigger 3s ease-in-out 2s infinite normal both');
}


@include keyframes(stretch) {
  0% {
    letter-spacing: -2.5px;
  }

  50% {
    letter-spacing: 4px;
  }

  100% {
    letter-spacing: -2.5px;
  }
}