@import './demo1.scss', './demo2.scss', './demo3.scss', './demo4.scss', './reset.scss';


@font-face {
  font-family: 'barlowcondensed-thin';
  src: url('./fonts/BarlowCondensed-Thin.ttf') format('truetype');
  font-family: 'slab';
  src: url('./fonts/slab.woff2') format('woff2');
}

html {
  background-color: #fff;
}

#top-div {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
}

#intro-text {
  color: black;
  font-family: 'slab';
  font-size: 36pt;
  margin: 0 auto;
  letter-spacing: 1px;
  border: 1px solid black;
  padding: 5px;
  opacity: 0;
  overflow: hidden;
}

#body-wrapper {
  visibility: hidden;
  overflow: hidden;
}

#body-wrapper-show {
  background-color: #fff;
  height: 100vh;
  transition: ease-in 1s;
  transition-delay: 1s;
  width: calc(100% - 12.8rem);
  max-width: calc(131.2rem);
  padding: 0px 6.4rem;
  scroll-behavior: smooth;
  overflow: scroll;
}

#navbar {
  font-family: 'Barlow Condensed Thin',
  sans-serif;
  color: black;
  font-size: 18pt;
  height: 100px;
  width: calc(100% - 12.8rem);
  max-width: calc(131.2rem);
  text-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  background: linear-gradient(rgb(255, 255, 255) 15%, rgba(255, 255, 255, 0.8) 70%, rgba(250, 250, 250, 0));
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  z-index: 30;
}


.nav-links {
  padding: 10px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  &:hover {
    border: 1px solid black;
    transition: 1s ease-out;
  }
}

#navbar-text {
  margin-left: 5px;
}

#main {
  height: auto;
  width: 100%;
  margin-top: 100px;
  font-family: 'Barlow Condensed Thin',
  sans-serif;
}

